.btn-accueil {
    margin-top: 26px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 26px;
}

.btn {
    background-color: #1D1D1D;
}

.btn a {
    text-decoration: none;
    color: #fff !important;
}

.container-credit {
    margin-left: 20px;
    width: calc(100% - 40px);
}