html{
    overflow: hidden;
}
.band{
    width: 100vw;
}
.background{
    position: absolute;
    z-index: -1;
    top: 0px;
    width: 100vw;
}
.deskstop-center{
    position: relative;
}
.bg-img{
    position: absolute;
    z-index: -2;
    top: 0px;
    width: 100vw;
    filter: blur(20px) opacity(50%);
}