@font-face {
    font-family: 'Fira Sans Extra Condensed';
    src: url('source/font/FiraSansExtraCondensed-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Fira Sans Extra Condensed';
    src: url('source/font/FiraSansExtraCondensed-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Fira Sans Extra Condensed';
    src: url('source/font/FiraSansExtraCondensed-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Fira Sans Extra Condensed';
    src: url('source/font/FiraSansExtraCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Fira Sans Extra Condensed';
    src: url('source/font/FiraSansExtraCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  

h1 {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 600; /* Semi-Bold */
    font-style: italic;
    font-size: 32px;

}

h2 {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 600; /* Semi-Bold */
    font-style: italic;
    font-size: 24px;
}

h3 {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: normal;
    font-style: italic;
    font-size: 20px;

}

.p1 {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;

}

.p2 {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
}

.btn {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px !important;
    border-radius: 33px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: black !important;
}


a{
    color: black !important;
}

.btn a{ 
    color: black !important;
}