body {
    height: 100vh;
    box-sizing: border-box;
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

#container-menue-home {
    display: none;
    align-items: center;
    flex-direction: column;
    height: calc(100vh);
    margin-left: 20px;
    width: calc(100vw - 40px);
    font-size: 48px;
    justify-content: space-evenly;

}

#svg-transition2 {
    display: none;
    width: 100vw;
    margin-top: calc(-15% + 26px);
    margin-bottom: calc(-60% + 26px);
}

#svg-transition1 {
    display: none;
    height: auto;
    width: 100vw;
    margin-top: calc(-100% + 26px);
    margin-bottom: calc(-90% + 26px);
}

.container-presentation{
    background-color: F4D9BD;
}

.colorback {
    position: absolute;
    background-color: #E1F5ED;
    height: 50vh;
    width: 100vw;
    bottom: 0;
    left: 0;
}


#title-paragraph {
    margin-bottom: 26px;
    display: none;
}

#text-1,
#text-2,
#text-3 {
    margin-bottom: 26px;
    display: none;
}

#text-3 {
    margin-top: 26px;
}


#img-home-top {
    height: 60vh;
    width: auto;
    position: absolute;
    top: -4%;
    right: -40%;
    z-index: 10;
}

#img-home-bot {
    height: 60vh;
    width: auto;
    position: absolute;
    bottom: -10%;
    left: -40%;
    z-index: 10;
}

#home-top {
    display: flex;
}



#svg-home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 100vw;
}