h2 {
    margin-top: 26px;
    margin-bottom: 26px;
    text-align: center;
}


.container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.container-question {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    width: calc(100vw - 40px);
}

.container-button {
    display: none;
    justify-content: space-around;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.espacement-btn-question {
    margin-bottom: 26px;

}
#btn1, #btn2, #btn3 {
    width: fit-content;
    border-radius: 5px;
}

.container-bottom-info {
    display: none;
    width: 100%;
    position: absolute;
    bottom: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.barre-info {
    width: 50%;
    height: 5px;
    border: 5px solid;
    border-radius: 20px;
}

#barre-info-contenue {
    width: 20%;
    height: 5px;
    background-color: blue;
    border-radius: 20px;
    margin-top: -2.5px;
}

.container-img {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}

.container-img img {
    margin-bottom: 20px;
    height: 80px;
    width: 80px;
}

#name-kind{
    display: none;
}

#button-begin,
#button-lost,
#scorF,
#plans {
    display: none;
}

#plans {
    width: 200px;
    height: auto;
}

body {
    height: 100vh;
    border: 10px solid;
    border-color: #D7C999;
}

.body-paysage {
    background-color: #E1F5ED;
    border-color: #AFCF94;
}

.body-animal {
    background-color: #F4D9BD;
    border-color: #CD844E;
}